* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  border: 5px solid #000;
  width: 800px;
  margin: 50px auto;
  position: relative;
}
h2 {
  text-align: center;
  background-color: #ddd;
  text-transform: uppercase;
  padding: 10px;
}
.product-img {
  /* margin-right: 20px; */
}

.product-info {
  flex: 1;
  /* margin-right: 20px; */
  margin-top: 20px;
}
.product-detail {
  margin-top: 20px;
  flex: 1;
}

.price {
  font-weight: bold;
  font-size: 25px;
}

.shipping {
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
}

.more-info:link {
  display: inline-block;
  margin-bottom: 30px;
}
.more-info:visited {
  color: #000;
  text-decoration: underline;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.detail-title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.detail-list {
  list-style: square;
  margin-left: 20px;
}
.detail-list li {
  margin-bottom: 10px;
}

.cart {
  font-size: 30px;
  text-transform: uppercase;
  background-color: #000;
  color: white;
  padding: 10px;
  width: 100%;
}
.cart:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}
.sale {
  font-size: 5px;
  background-color: red;
  color: white;
  font-weight: bold;
  position: absolute;
  top: -10px;
  left: -30px;
  letter-spacing: 2px;
  padding: 5px;
}

.color {
  background-color: #000;
  width: 20px;
  height: 20px;
  margin-bottom: 0;
}

.color-red {
  background-color: red;
}
.color-green {
  background-color: green;
}

.row {
  display: flex;
  align-items: flex-start;
  /* justify-content: space-between; */
  gap: 40px;
}
.color-pick {
  display: flex;
  gap: 20px;
}

.price-ship-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
