* {
  margin: 0;
  padding: 0;
}
body {
  border: 5px solid #000;
  width: 500px;
  margin: 50px auto;
}
h2 {
  text-align: center;
  background-color: #ddd;
  text-transform: uppercase;
  padding: 10px;
}

.price {
  font-weight: bold;
  font-size: 25px;
}

.shipping {
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  margin-bottom: 10px;
}

.more-info:link,
.more-info:visited {
  color: #000;
  text-decoration: underline;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.detail-title {
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 20px;
}
.detail-list {
  list-style: square;
  margin-left: 20px;
}
.detail-list li {
  margin-bottom: 10px;
}

.cart {
  font-size: 30px;
  text-transform: uppercase;
  background-color: #000;
  color: white;
  padding: 10px;
  width: 100%;
}
.cart:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}
